
/*ik heb ai gevraagd om mijn zelf getypte code te helpen structureren want was het overwicht kwijt*/
/* FONTS */

.galada-regular {
  font-family: "Galada", cursive;
  font-weight: 300;
  font-style: normal;
}

.Brother-1816-Regular {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Brother-1816-Regular-Italic {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.Brother-1816-Bold {
  font-family: "brother-1816", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Brother-1816-Bold-Italic {
  font-family: "brother-1816", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.Brother-1816-Printed-Regular {
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Brother-1816-Printed-Regular-Italic {
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.Brother-1816-Printed-Bold {
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Brother-1816-Printed-Bold-Italic {
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* De body en belangrijkste layout */

body {
  margin: 0;
}

main,
.about,
.evenementen,
.merch,
.registreer {
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  line-height: 1;
  font-size: 3em;
}

h1,
h2 {
  font-family: "Galada", cursive;
}

.h2rood {
  color: #780116;
  font-size: 2em;
}
.center{
  text-align: center;
}

p {
  font-family: "brother-1816", sans-serif;
}

.snacks {
  position: absolute;
  top: 3;
  right: 0;
  width: 200px;             
}
/* De nav */

nav {
  background-color: #F5F1DC;
}

.logonav {
  width: 14em;
  padding-top: 0.5em;
}

.linksnav {
  display: none;
}

/* Het hamburger menu */

#hamburger {
  display: none;
}

.hamburger {
  position: absolute;
  right: 2em;
  top: 1.2em;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 2000;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #780116;
  left: 0;
  transition: 0.3s;
}

.hamburger span:nth-child(1) { top: 0; }
.hamburger span:nth-child(2) { top: 8px; }
.hamburger span:nth-child(3) { top: 16px; }

/* menu dat openschuift (Snapchat oefening bij Joris aangepast)*/

.slideout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #F5F1DC;
  transform: translateY(-120%);
  transition: 0.4s ease;
  padding-top: 6em;
  z-index: 1000;
}

.slideout a {
  display: block;
  padding: 1em 2em;
  font-family: "brother-1816", sans-serif;
  text-decoration: none;
  color: #780116;
  font-size: 2em;
  text-align: right;
}

/* Hamburger animatie (zelfde als slideout) */
#hamburger:checked ~ .slideout {
  transform: translateY(0);
}

#hamburger:checked ~ .hamburger span:nth-child(1) {
  opacity: 0;
}

#hamburger:checked ~ .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  top: 8px;
}

#hamburger:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

/* forms en buttons*/

.form {
  border: 2.67px solid #780116;
  border-radius: 45px;
  padding-top: 4em;
  padding-left: 4em;
  padding-left: 1.5em;
  font-family: "brother-1816", sans-serif;
}
.button a {
  font-family: "brother-1816", sans-serif;
  text-decoration: none;
  color: white; 
}

.button {
  background-color: #780116;
  text-align: center;
  padding: 12px 30px;
  border-radius: 25px;
  display: block;
  margin: 0 auto 1.7em auto;
  width: 125px;
}

/* Merch button */
.button-merch {
  background-color: white;
  border: 2px solid #780116; 
}

.button-merch a {
  color: #780116;
}



/* sections*/
main{
  padding-bottom: 1.8em;
  padding-top: 2em;
}

.about,
.merch,
.evenementen,
.registreer
{
 padding-top: 2em;
}

.about,
.merch,
.evenementen{
 padding-bottom: 2em;
}

.about,
.merch {
   background-color: #F5F1DC;
}

.evenementen article {
  background-color: #102022;
  gap: 3em;
  display: flex;
  flex-direction: column;
  border-radius: 30%;
  padding-bottom: 5em;
}

.evenementen article .info  {
   text-align: left;
   padding-left: 2.5em;
   color: white;
}



.registreer {
  padding-bottom: 5em;
}


/*footer*/
footer {
  background-color: #F5F1DC;
  border-radius: 10%;
}

footer a {
  text-decoration: none; 
  color: #780116;  
  font-family: "brother-1816", sans-serif;      
}

.logofooter {
  width: 10em;
  padding-top: 2em;
  
}

.mail{
  text-align: center;
  color: #780116;
}

.Icon{
  display: inline-block; 
}

.Icon img{
  width: 40px;          
  height: auto;
}

@media(min-width: 1000px) {
  /*Voor weg*/
  .hamburger {
    display: none;
  }

  #hamburger {
    display: none;
  }

  .slideout {
    display: none;
  }

  /*erbij*/
  .linksnav {
    display: flex;
    gap: 2em;
    align-items: center;
  }

   nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
  }

  .linksnav a {
    font-family: "brother-1816", sans-serif;
    text-decoration: none;
    color: #780116;
  }
   /* registreeer knop in nav*/
  .linksnav .nav-button {
    background-color: #780116;
    color: white;
    padding: 0.6em 1.5em;
    border-radius: 25px;
  }
}