nav {
    background-color: #F5F1DC;
}

.logonav {
  width: 14em; 
  padding-top: 0.5em;   
}

.hamburger{
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 1em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
}

body {
    margin: 0;
}
.linksnav {
    display: none;
}

.form {
    border: 2.67px solid;
    border-color: #780116;
    border-radius: 45px;
    
}

